{% extends "base.html" %}
{% load i18n %}
{% block extra_css %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="/static/responsiveslides/responsiveslides.css" />
<style>
#map {
		width: 100%;
		height: 70vh;
}
</style>
{% endblock %}

{% block extra_js %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="static/responsiveslides/responsiveslides.js"></script>
{% endblock %}



{% block meta_title %}{% trans "The River Cooum" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block body %}

{% block navbar %} {{ block.super }} {% endblock %}

{% include "includes/standard_slides.html" %}

<div id="map"></div>
<script>
	var map = L.map('map', {minZoom: 1, maxZoom: 4, center: [0, 0], zoom: 1, crs: L.CRS.Simple});
	var w = 1796, h = 2975;
	var southWest = map.unproject([0, h], map.getMaxZoom() - 1);
	var northEast = map.unproject([w, 0], map.getMaxZoom() - 1);
	var bounds = new L.LatLngBounds(southWest, northEast)
		L.imageOverlay('/static/media/uploads/gallery/txu-pclmaps-madras_1914.jpg', bounds).addTo(map);
		map.setMaxBounds(bounds);
</script>


{% endblock %}
