{% extends "base.html" %}
{% load i18n %}
{% block extra_css %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="/static/css/responsiveslides.css" />
<style>
.site-title {
    z-index: 3;
    width: 100%;
    height:50%;
    overflow: hidden;
}
.site-title h1 {
position: absolute;
    text-align: right;
    float: right;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 64pt;
    background: rgba(128,128,128,0.5);
    width: auto;
    z-index: 3;
    right: 0;
}
#body {
    padding-top: 0px;
}
.content::before .content::after {
    display: table;
    content: " ";
}
.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(128, 128, 128, 0.8);
    z-index: 10;
}
</style>
{% endblock %}

{% block extra_js %}
<script src="/static/js/responsiveslides.min.js"></script>
{% endblock %}

{% block meta_title %}{% trans "The River Cooum" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block body %}
<div class="site-title">
<h1>The River Cooum</h1>
<ul class="rslides">
    <li><img src="http://cooum.in/static/media/uploads/Covers/dsc_5653_v1.jpg" /></li>
    <li><img src="http://cooum.in/static/media/uploads/Covers/dsc_5629_v1.jpg" /></li>
    <li><img src="http://cooum.in/static/media/uploads/Covers/cover3.jpg" /></li>
    <li><img src="http://cooum.in/static/media/uploads/Covers/cover2.jpg" /></li>
    <li><img src="http://cooum.in/static/media/uploads/Covers/cover1.jpg" /></li>
</ul>
</div>
<div class="content">
<div class="col-md-12">
<h1>Welcome</h1>

<p>The Cooum river though now a byword for "nauseous drain", both sustains the city of Chennai and represents a wide swathe of its history.</p>
<p>A port, a fort, a university, palaces, graves of the common men and saints, museums, 1500 year old temples, one of the oldest scientific astronomical observatories all on its banks.</p>
<p>Mapping it before its too late is vital.</p>
</div>
</div>
<script>
    $(function() {
        $(".rslides").responsiveSlides({timeout: 5000, speed: 1500, pause:true, random:true});
    });
</script>
{% endblock %}
